html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
}
body
{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color:#333;
    -webkit-text-size-adjust: none;
}
body *
{
    text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
    line-height: 1;
    color: #330;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
h1, h2, h3
{
    font-size: 18px;
}
h4, h5, h6
{
    font-size: 16px;
}
p
{
    margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
    color: #333;
    text-decoration: underline;
}
/* ページ上部のヘッダ */
#header
{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #b1963e;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
/* ノートを表示する部分 */
#content
{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
#content div
{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
/* メニュー部分(見えない位置にしている) */
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #b1963e 0%, #d3c972 100%);
}
/* メニューリスト */
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
/* チェックされたら表示する */
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
/* チェックボックスを隠す */
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
/* メニュー3本線 */
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
/* 白線 */
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
/* 3本線 */
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
/* チェック時 × 表示 */
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
/* 矢印を消す */
summary {
    position: relative;
    display: block; /* 矢印を消す */
    padding-left: 40px; /* アイコン分の余白 */
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: 50%;
    cursor: pointer;
    text-decoration: none;
}
/* 折り畳みの内部 */
.Release {
    text-indent:40px;
}